$blue: #5965E0;
$blue-dark: #4953B8;
$blue-twitter: #2aa9e0;
$green: #4CD62B;
$red: #E83F5B;
$white: #fff;
$title: #2E384D;
$text: #666666;
$text-highlight: #b3b9ff;
$gray-line: #DCDDE0;
$background: #F2F3F5;
